html {
    position: relative;
    min-height: 100%;
}

body {
}

.map-window {
	position: relative;
}

#province-map {
	display: block;
	width: 100%;
}

#debug-window {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: white;
}

#debug-data {
	margin-bottom: 0px;
}

#console-log {
	border-top: 1px solid gray;
	margin-bottom: 0px;
}

#province-window {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	height: 500px;
	background-color: white;
	border: 1px solid black;
}

#province-header {

}

.close {
	float: right;
}

#province-data {

}

/************ Large **************/
@media (min-width: 1200px) {
}

/************ Medium **************/
@media (min-width: 992px) and (max-width: 1199px) {
}

/************ Small **************/
@media (min-width: 768px) and (max-width: 991px) {
}

/************ Extra-small **************/
@media (max-width: 767px) {
}